@page "/laboratories-overview"
@inherits LabsCourseManage.UI.Pages.LaboratoriesOverview

<h2>Laboratories Overview</h2>
@if (Laboratories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
        <th>Laboratory Id</th>
        <th>Laboratory Name</th>
        </thead>
        <tbody>
            @foreach (var laboratory in Laboratories)
            {
                <tr>
                    <td>@laboratory.Id</td>
                    <td>@laboratory.Name</td>
                </tr>
            }
        </tbody>
    </tabel>
}
