@page "/studentsoverview"


<h2>Students Overview</h2>
@if(Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <tabel class="table table-light">
        <thead class="table-primary">
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Surname</th>
        </thead>
        <tbody>
            @foreach (var student in Students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                </tr>
            }
        </tbody>
    </tabel>
}
